@media (max-width: 925px) {
  .project-main {
    width: 85%;
  }
  .project-div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem 2rem;
  }
  .btn {
    font-size: 1rem;
  }
  #testimonial {
    width: 90%;
  }
  .testimonial-header {
    font-size: 2rem;
    color: #0085ff;
    margin: 2rem 0;
  }
  .service h2 {
    margin: 1rem 0;
    font-size: 1rem;
  }
  .service-info {
    font-size: 0.85rem;
    color: #808080cc;
  }
}
@media (max-width: 786px) {
  .main-nav {
    display: block;
    align-items: baseline;
  }
  .show-back {
    background: rgba(0, 0, 0, 0.9);
  }
  .toggle {
    display: block;
    margin-left: auto;
  }
  .nav-left {
    width: 100%;
  }

  .links li a {
    padding: 0;
  }
  .links li {
    margin: 1rem 0;
  }
  .icons li {
    margin-right: 1rem;
  }
  .social {
    margin-left: 0;
  }
  .nav-right,
  .nav-mid {
    display: none;
  }
  .show-nav-right,
  .show-nav-mid {
    display: flex;
  }
  .links {
    flex-direction: column;
  }
  .service-cont {
    grid-template-columns: 1fr 1fr;
  }
  .one,
  .three {
    transform: translateY(0);
  }
  #project {
    clip-path: polygon(0% 2%, 100% 0%, 100% 100%, 0 100%);
    padding: 7rem 0rem;
  }
  .project-div {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
  }
  .skill-icon-cont {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
  }
  .skill-icon {
    padding: 1rem;
  }
  .testimonial-cont {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
  }
  .image-cont {
    margin: 0 auto;
  }
  .icon-dir {
    font-size: 1rem;
    width: 1.5rem;
    height: 1.5rem;
  }
  .image-cont::after {
    width: 200px;
    height: 200px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transform: translate(60%, -35px);
  }
  .contact-main {
    grid-template-columns: 1fr;
  }
  .project-main {
    width: 90%;
  }
  .hero-div {
    width: 100%;
  }
  .second-hero {
    display: none;
  }
  .first-hero {
    background: linear-gradient(rgba(2, 33, 62, 0.9), rgba(2, 33, 62, 0.9)),
      url("./Images/back.jpg");
    background-position: center;
    background-repeat: none;
    background-size: cover;
    background-attachment: fixed;
  }
  .service-cont {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 425px) {
  .navbrand {
    font-size: 1.25rem;
  }
  h1 {
    font-size: 1.25rem;
  }
  p {
    font-size: 1rem;
  }
  .service-header {
    font-size: 1.25rem;
  }
  .btn,
  .resume {
    font-size: 0.85rem;
  }
  .image-cont::after {
    transform: translate(-5%, -20%);
  }
  .testimonial-header {
    font-size: 1.2rem;

    margin: 0 0 20%;
  }
  .form-div h1 {
    font-size: 1.2rem;
  }
  .copyright {
    font-size: 0.85rem;
    padding: 1rem;
  }
  .role-cont {
    grid-template-columns: 1fr 1fr;
  }
  .image-cont {
    display: none;
  }
  .skill-icon-cont {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
  }
}
@media (max-width: 313px) {
  .skill-icon-cont {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }
}
